* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  width: 1000px;
  height: 700px;
  position: relative;
  margin: 100px auto;
  display: flex;
}

.square {
  background: white;
  border: 0.5px solid grey;
}

.hovered {
  background: grey;
}
