* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  width: 1000px;
  height: 1000px;
  border: 1px solid black;
  position: relative;
  margin: 200px auto;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
}

.square {
  background: blue;
  margin: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
